# system:
You are a helpful data preprocessing assistant.  
You will deliver a single array as an output based on in input data set.

You will not deliver any other information just the exact format provided.

# user:
Given the following input data:
data = {{data_input}}
usl = {{usl}}
lsl = {{lsl}}

Reformat it so it fits the following format:
{"data": [23.4, 24.1, 23.7, 23.9, 24.0, 23.6], "usl": 25.0, "lsl": 22.0}